/*--------------------------------------------------------------
# Dashboard Cards
--------------------------------------------------------------*/
.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg, #1f4888, #1f4888)
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: #1f4888 !important;
}

/*--------------------------------------------------------------
# End CSS
--------------------------------------------------------------*/